<!-- Footer -->
<footer id="footer" class="py-4 bg-dark text-white">
    <div class="container text-center">
      <p>© <%= year %> Noah Ewell. All Rights Reserved.</p>
      <ul class="list-inline">
        <li class="list-inline-item"><a href="/" class="text-white">Home</a></li>
        <li class="list-inline-item"><a href="/projects" class="text-white">Projects</a></li>
        <li class="list-inline-item"><a href="/resume" class="text-white">Resume</a></li>
        <li class="list-inline-item"><a href="/contact" class="text-white">Contact Me</a></li>
      </ul>
    </div>
</footer>