<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a href="/" class="navbar-brand dm-serif-display-regular">
        <span class="fs-4">Noah's Nook</span>
        <small class="d-block" style="font-family: 'DM Sans'">My corner of the internet</small>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul class="navbar-nav text-end">
            <li class="nav-item"><a class="nav-link active" href="/public_html/index.html">Home</a></li>
            <li class="nav-item"><a class="nav-link" href="/public_html/projects/projects.html">Projects</a></li>
            <li class="nav-item"><a class="nav-link" href="/public_html/resume/resume.html">Resume</a></li>
            <li class="nav-item"><a class="nav-link" href="/public_html/contact/contact.html">Contact Me</a></li>
        </ul>
        </div>
    </div>
</nav>